@import url("template.css");
@import url("home.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("../../public/images/bg-body.png");
    overflow-x: hidden;
}
[x-cloak] {
    display: none !important;
}

.btn {
    @apply inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest  focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 transition ease-in-out duration-150;
}

input:focus,
textarea:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
    --tw-ring-inset: transparent !important;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: #fff !important;
    --tw-ring-color: transparent !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: none !important;
}

.dataTables_wrapper {
    select {
        width: 60px;
        margin: 0 6px;
    }

    #table_length,
    #table_filter {
        margin-bottom: 1rem;
    }

    .dataTables_info {
        margin-top: 1rem;
    }

    .dataTables_paginate {
        margin-top: 1rem;
        .paginate_button {
            border: 1px solid transparent;
            padding: 4px 12px;
            margin: 0 0.25rem;
            &.current {
                background: none;
                background-color: #588157;
                color: white !important;
            }

            &:hover {
                background: none !important;
                color: #588157 !important;
                border: 1px solid #588157;
            }
        }
    }
}
