.nav__menu-list {
    li {
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.nav__about,
.nav__index {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 88%);
    background-color: transparent !important;

    .nav__menu-list {
        color: white !important;
    }
}

.footer__section li {
    margin-bottom: 1rem;
}
