.nav__menu-list {
    li {
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.nav__transparent {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 88%);
}

.footer__section li {
    margin-bottom: 1rem;
}
